src/de/uniba/dsg/ppn/ba/schematron/validation.xml

<?xml version="1.0" encoding="utf-8"?>
<iso:schema xmlns="http://purl.oclc.org/dsdl/schematron" 
    xmlns:iso="http://purl.oclc.org/dsdl/schematron" 
    xmlns:dp="http://ppn.lspi.uni-bamberg.de" 
    queryBinding="xslt2" schemaVersion="ISO19757-3">
    <iso:title>ISO schematron validation file for descriptive extended constraints</iso:title>
    <iso:ns prefix="ppn" uri="http://www.ppn.lspi.uni-bamberg.de"/>
    
    <!-- Your constraints go here -->
    <iso:pattern>
        <iso:rule context="chapter">
            <iso:assert test="title">A chapter should have a title</iso:assert>
        </iso:rule>
    </iso:pattern>
</iso:schema> 