src/de/uniba/dsg/ppn/ba/schematron/validation.xml

<?xml version="1.0" encoding="utf-8"?>
<iso:schema xmlns="http://purl.oclc.org/dsdl/schematron" 
    xmlns:iso="http://purl.oclc.org/dsdl/schematron" 
    xmlns:ppn="http://ppn.lspi.uni-bamberg.de" 
    queryBinding="xslt2" schemaVersion="ISO19757-3">
    <iso:title>ISO schematron validation file for descriptive extended constraints</iso:title>
    <iso:ns prefix='bpmn' uri='http://www.omg.org/spec/BPMN/20100524/MODEL'/>
    
    <!-- Your constraints go here -->
    <iso:pattern name="EXT.101">
        <iso:rule context="bpmn:startEvent">
            <iso:assert test="bpmn:outgoing">A startEvent must have a outgoing subelement</iso:assert>
        </iso:rule>
    </iso:pattern>
    
    <iso:pattern name="EXT.099">
        <iso:rule context="bpmn:callActivity">
            <iso:assert test="//bpmn:process[string(current()/@calledElement) = ./@id] [not(count(./startEvent) = count(./startEvent/eventDefinitionRef))]">Referenced process must have at least one None Start Event</iso:assert>
        </iso:rule>
    </iso:pattern>
</iso:schema> 