src/de/uniba/dsg/ppn/ba/schematron/validation.xml

<?xml version="1.0" encoding="utf-8"?>
<iso:schema xmlns="http://purl.oclc.org/dsdl/schematron" 
    xmlns:iso="http://purl.oclc.org/dsdl/schematron" 
    xmlns:ppn="http://ppn.lspi.uni-bamberg.de" 
    queryBinding="xslt2" schemaVersion="ISO19757-3">
    <iso:title>ISO schematron validation file for descriptive extended constraints</iso:title>
    <iso:ns prefix='bpmn' uri='http://www.omg.org/spec/BPMN/20100524/MODEL'/>
    <let name="eventDefinitions" value="bpmn:eventDefinitionRef | bpmn:messageEventDefinition | bpmn:timerEventDefinition | bpmn:escalationEventDefinition | bpmn:conditionalEventDefinition | bpmn:linkEventDefinition | bpmn:errorEventDefinition | bpmn:cancelEventDefinition | bpmn:compensationEventDefinition | bpmn:signalEventDefinition | bpmn:terminateEventDefinition" />
    
    <!-- Artifacts -->
    <let name="associations" value="//bpmn:association" />
    <let name="textAnnotations" value="//bpmn:textAnnotation" />
    <let name="groups" value="//bpmn:group" />
    
    <!-- Flows -->
    <let name="sequenceFlows" value="//bpmn:sequenceFlow"/>
    <let name="messageFlows" value="//bpmn:messageFlow"/>
    
    <!-- Activities -->
    <let name="callActivities" value="//bpmn:callActivity"/>
    
    <!-- Tasks -->
    <let name="tasks" value="//bpmn:task"/>
    <let name="sendTasks" value="//bpmn:sendTask"/>
    <let name="receiveTasks" value="//bpmn:receiveTask"/>
    <let name="serviceTasks" value="//bpmn:serviceTask"/>
    <let name="userTasks" value="//bpmn:userTask"/>
    <let name="manualTasks" value="//bpmn:manualTask"/>
    <let name="scriptTasks" value="//bpmn:scriptTask"/>
    <let name="businessTasks" value="//bpmn:businessRuleTask"/>
      
    <!-- SubProcesses -->
    <let name="subProcesses" value="//bpmn:subProcess"/>
    <let name="transactions" value="//bpmn:transaction"/>
    <let name="adHocSubProcesses" value="//bpmn:adHocSubProcess"/>      
         
    <!-- Events -->
    <let name="startEvents" value="//bpmn:startEvent"/>
    <let name="boundaryEvents" value="//bpmn:boundaryEvent"/>
    <let name="intermediateCatchEvents" value="//bpmn:intermediateCatchEvent"/>
    <let name="intermediateThrowEvents" value="//bpmn:intermediateThrowEvent"/>
    <let name="endEvents" value="//bpmn:endEvent"/>
    
    <!-- EventDefinitions -->
    <let name="eventDefinitionRefs" value="//bpmn:eventDefinitionRef"/>
    <let name="messageEventDefinitions" value="//bpmn:messageEventDefinition"/>
    <let name="conditionalEventDefinitions" value="//bpmn:conditionalEventDefinition"/>
    <let name="timerEventDefinitions" value="//bpmn:timerEventDefinition"/>
    <let name="linkEventDefinitions" value="//bpmn:linkEventDefinition"/>
    <let name="escalationEventDefinitions" value="//bpmn:escalationEventDefinition"/>
    <let name="errorEventDefinitions" value="//bpmn:errorEventDefinition"/>
    <let name="cancelEventDefinitions" value="//bpmn:cancelEventDefinition"/>
    <let name="compensateEventDefinitions" value="//bpmn:compensateEventDefinition"/>
    <let name="terminateEventDefinitions" value="//bpmn:terminateEventDefinition"/>
    
    <!-- Gateways -->
    <let name="exclusiveGateways" value="//bpmn:exclusiveGateway"/>
    <let name="parallelGateways" value="//bpmn:parallelGateway"/>
    <let name="inclusiveGateways" value="//bpmn:inclusiveGateway"/>
    <let name="complexGateways" value="//bpmn:complexGateway"/>
    <let name="eventBasedGateways" value="//bpmn:eventBasedGateway"/> 
    
    <!-- All -->
    <let name="allElements" value="//bpmn:*"/>

    <!-- Your constraints go here -->
    <iso:pattern name="EXT.006">
        <iso:rule context="bpmn:sequenceFlow[@targetRef]">
            <iso:assert test="not((string(./@targetRef) = $associations/@id) or (string(./@targetRef) = $textAnnotations/@id) or (string(./@targetRef) = $groups/@id))">An Artifact MUST NOT be a target for a Sequence Flow</iso:assert>
        </iso:rule>
    </iso:pattern>
    
    <iso:pattern name="EXT.007">
        <iso:rule context="bpmn:sequenceFlow[@sourceRef]">
            <iso:assert test="not((string(./@sourceRef) = $associations/@id) or (string(./@sourceRef) = $textAnnotations/@id) or (string(./@sourceRef) = $groups/@id))">An Artifact MUST NOT be a source for a Sequence Flow</iso:assert>
        </iso:rule>
    </iso:pattern>

    <iso:pattern name="EXT.008">
        <iso:rule context="bpmn:messageFlow[@targetRef]">
            <iso:assert test="not((string(./@targetRef) = $associations/@id) or (string(./@targetRef) = $textAnnotations/@id) or (string(./@targetRef) = $groups/@id))">An Artifact MUST NOT be a target for a Message Flow</iso:assert>
        </iso:rule>
    </iso:pattern>
    
    <iso:pattern name="EXT.009">
        <iso:rule context="bpmn:messageFlow[@sourceRef]">
            <iso:assert test="not((string(./@sourceRef) = $associations/@id) or (string(./@sourceRef) = $textAnnotations/@id) or (string(./@sourceRef) = $groups/@id))">An Artifact MUST NOT be a source for a Message Flow</iso:assert>
        </iso:rule>
    </iso:pattern>
    
    <iso:pattern name="EXT.021">
        <iso:rule context="bpmn:*[./@id = string($sequenceFlows/@sourceRef)]">
            <iso:assert test="(./@id = $tasks/@id or ./@id = $sendTasks/@id or ./@id = $receiveTasks/@id or ./@id = $serviceTasks/@id or ./@id = $userTasks/@id or ./@id = $manualTasks/@id or ./@id = $scriptTasks/@id or ./@id = $businessTasks/@id or ./@id = $subProcesses/@id or ./@id = $transactions/@id or ./@id = $adHocSubProcesses/@id or ./@id = $callActivities/@id or ./@id = $startEvents/@id or ./@id = $boundaryEvents/@id or ./@id = $intermediateCatchEvents/@id or ./@id = $intermediateThrowEvents/@id or ./@id = $endEvents/@id or ./@id = $exclusiveGateways/@id or ./@id = $parallelGateways/@id or ./@id = $inclusiveGateways/@id or ./@id = $complexGateways/@id or ./@id = $eventBasedGateways/@id) and not(./@id = $subProcesses/@id and $subProcesses[string(@triggeredByEvent) = 'true'])">For a Process: Of the types of FlowNode, only Activities, Gateways, and Events can be the source. However, Activities that are Event SubProcesses are not allowed to be a source</iso:assert>
        </iso:rule>
    </iso:pattern>
    
    <iso:pattern name="EXT.022">
        <iso:rule context="bpmn:*[./@id = string($sequenceFlows/@targetRef)]">
            <iso:assert test="(./@id = $tasks/@id or ./@id = $sendTasks/@id or ./@id = $receiveTasks/@id or ./@id = $serviceTasks/@id or ./@id = $userTasks/@id or ./@id = $manualTasks/@id or ./@id = $scriptTasks/@id or ./@id = $businessTasks/@id or ./@id = $subProcesses/@id or ./@id = $transactions/@id or ./@id = $adHocSubProcesses/@id or ./@id = $callActivities/@id or ./@id = $startEvents/@id or ./@id = $boundaryEvents/@id or ./@id = $intermediateCatchEvents/@id or ./@id = $intermediateThrowEvents/@id or ./@id = $endEvents/@id or ./@id = $exclusiveGateways/@id or ./@id = $parallelGateways/@id or ./@id = $inclusiveGateways/@id or ./@id = $complexGateways/@id or ./@id = $eventBasedGateways/@id) and not(./@id = $subProcesses/@id and $subProcesses[string(@triggeredByEvent) = 'true'])">For a Process: Of the types of FlowNode, only Activities, Gateways, and Events can be the target. However, Activities that are Event SubProcesses are not allowed to be a target</iso:assert>
        </iso:rule>
    </iso:pattern>
    -->
    <iso:pattern name="EXT.023">
        <iso:rule context="bpmn:sequenceFlow[@targetRef]">
            <iso:assert test="$allElements/@id = string(./@targetRef) and ./@id = $allElements/bpmn:incoming">The target element of the sequence flow must reference the SequenceFlow definition using their incoming attributes.</iso:assert>
        </iso:rule>
        <iso:rule context="bpmn:sequenceFlow[@sourceRef]">
            <iso:assert test="$allElements/@id = string(./@sourceRef) and ./@id = $allElements/bpmn:outgoing">The source element of the sequence flow must reference the SequenceFlow definition using their outcoming attribute.</iso:assert>
        </iso:rule>
    </iso:pattern>
    
    <iso:pattern name="EXT.025">
        <iso:rule context="bpmn:sequenceFlow[bpmn:conditionExpression] [not(string(@sourceRef)=$exclusiveGateways/@id)] [not(string(@sourceRef)=$parallelGateways/@id)] [not(string(@sourceRef)=$inclusiveGateways/@id)] [not(string(@sourceRef)=$complexGateways/@id)] [not(string(@sourceRef)=$eventBasedGateways/@id)]">
            <iso:assert test="$tasks[string(bpmn:outgoing=(current()/@id))] [count(bpmn:outgoing) > 1] or $sendTasks[string(bpmn:outgoing)=(current()/@id)] [count(bpmn:outgoing) > 1] or $receiveTasks[string(bpmn:outgoing)=(current()/@id)] [count(bpmn:outgoing) > 1] or $serviceTasks[string(bpmn:outgoing)=(current()/@id)] [count(bpmn:outgoing) > 1] or $userTasks[string(bpmn:outgoing)=(current()/@id)] [count(bpmn:outgoing) > 1] or $manualTasks[string(bpmn:outgoing)=(current()/@id)] [count(bpmn:outgoing) > 1] or $scriptTasks[string(bpmn:outgoing)=(current()/@id)] [count(bpmn:outgoing) > 1] or $businessTasks[string(bpmn:outgoing)=(current()/@id)] [count(bpmn:outgoing) > 1] or $callActivities[string(bpmn:outgoing)=(current()/@id)] [count(bpmn:outgoing) > 1] or $subProcesses[string(bpmn:outgoing)=(current()/@id)] [count(bpmn:outgoing) > 1] or $transactions[string(bpmn:outgoing)=(current()/@id)] [count(bpmn:outgoing) > 1] or $adHocSubProcesses[string(bpmn:outgoing)=(current()/@id)] [count(bpmn:outgoing) > 1]">An Activity must not have only one outgoing conditional sequence flow if conditionExpression is present</iso:assert>
        </iso:rule>
    </iso:pattern>
    
    <iso:pattern name="EXT.026">
        <iso:rule context="bpmn:exclusiveGateway[@default]">
            <iso:assert test="$sequenceFlows[@id=string(current()/@default)]/@sourceRef=./@id">If an activity or gateway references a sequenceFlow as default flow - the referenced sequence flow must reference the activity/the gateway as sourceRef</iso:assert>
        </iso:rule>
    </iso:pattern>
    
    <iso:pattern name="EXT.028 and EXT.152">
        <iso:rule context="bpmn:sequenceFlow">
            <iso:assert test="//bpmn:*[@id = current()/@sourceRef and parent::*/@id=//bpmn:*[@id = current()/@targetRef]/../@id]">A Sequence Flow must not cross the border of a Pool</iso:assert>
        </iso:rule>
    </iso:pattern>

    <iso:pattern name="EXT.031">
        <iso:rule context="bpmn:messageFlow">
        	<iso:assert test="@sourceRef!=@targetRef">A message flow must connect ’InteractionNodes’ from different Pools</iso:assert>
        	<iso:assert test="count(//bpmn:process[@id=//bpmn:participant[@id=current()/@sourceRef]/@processRef]/descendant::*[@id=current()/@targetRef])=0">A message flow must connect ’InteractionNodes’ from different Pools</iso:assert>
        	<iso:assert test="count(//bpmn:process[@id=//bpmn:participant[@id=current()/@targetRef]/@processRef]/descendant::*[@id=current()/@sourceRef])=0">A message flow must connect ’InteractionNodes’ from different Pools</iso:assert>
			<iso:assert test="not(//bpmn:process[*[@id=current()/@sourceRef]]=//bpmn:process[*[@id=current()/@targetRef]])">A message flow must connect ’InteractionNodes’ from different Pools</iso:assert>
        </iso:rule>
    </iso:pattern>
         
    <iso:pattern name="EXT.036">
        <iso:rule context="bpmn:process">
            <iso:assert test="not(bpmn:choreographyTask or bpmn:subChoreography or bpmn:callChoreography)">A Process must not contain Choreography Activities</iso:assert>
        </iso:rule>
    </iso:pattern>
    
    <iso:pattern name="EXT.056">
        <iso:rule context="bpmn:subProcess">
            <iso:assert test="not(bpmn:choreographyTask or bpmn:subChoreography or bpmn:callChoreography)">A SubProcess must not contain Choreography Activities</iso:assert>
        </iso:rule>
        <iso:rule context="bpmn:transaction">
            <iso:assert test="not(bpmn:choreographyTask or bpmn:subChoreography or bpmn:callChoreography)">A SubProcess must not contain Choreography Activities</iso:assert>
        </iso:rule>
        <iso:rule context="bpmn:adHocSubProcess">
            <iso:assert test="not(bpmn:choreographyTask or bpmn:subChoreography or bpmn:callChoreography)">A SubProcess must not contain Choreography Activities</iso:assert>
        </iso:rule>
    </iso:pattern>
    
    <iso:pattern name="EXT.076">
        <let name="dataObjects" value="//bpmn:dataObject"/>
        <iso:rule context="bpmn:dataObjectReference[@name]">
            <iso:assert test="$dataObjects/@id = ./@dataObjectRef and ./@name = concat($dataObjects/@name,' [', ./bpmn:dataState/@name, ']')">Naming Convention: name = Data Object Name [Data Object Reference State]</iso:assert>
        </iso:rule>
    </iso:pattern>
    
    <iso:pattern name="EXT.079">
        <iso:rule context="bpmn:subProcess">
            <iso:assert test="not(bpmn:ioSpecification)">InputOutputSpecifications are not allowed in SubProcesses</iso:assert>
        </iso:rule>
        <iso:rule context="bpmn:transaction">
            <iso:assert test="not(bpmn:ioSpecification)">InputOutputSpecifications are not allowed in SubProcesses</iso:assert>
        </iso:rule>
        <iso:rule context="bpmn:adHocSubProcess">
            <iso:assert test="not(bpmn:ioSpecification)">InputOutputSpecifications are not allowed in SubProcesses</iso:assert>
        </iso:rule>
    </iso:pattern>
    
    <iso:pattern name="EXT.084">
        <let name="inputSets" value="//bpmn:inputSet"/>
        <iso:rule context="bpmn:dataInput">
            <iso:assert test="$inputSets/bpmn:dataInputRefs = ./@id">A DataInput must be referenced by at least one InputSet</iso:assert>
        </iso:rule>
    </iso:pattern>
    
    <iso:pattern name="EXT.088">
        <let name="outputSets" value="//bpmn:outputSet"/>
        <iso:rule context="bpmn:dataOutput">
            <iso:assert test="$outputSets/bpmn:dataOutputRefs = ./@id">A DataOutput must be referenced by at least one OutputSet</iso:assert>
        </iso:rule>
    </iso:pattern>
    
    <iso:pattern name="EXT.095">
        <iso:rule context="bpmn:endEvent/bpmn:messageEventDefinition">
            <iso:assert test="not(./@id = $eventDefinitionRefs)">EventDefinitions defined in a throw event are only valid within this element</iso:assert>
        </iso:rule>
        <iso:rule context="bpmn:endEvent/bpmn:escalationEventDefinition">
            <iso:assert test="not(./@id = $eventDefinitionRefs)">EventDefinitions defined in a throw event are only valid within this element</iso:assert>
        </iso:rule>
        <iso:rule context="bpmn:endEvent/bpmn:errorEventDefinition">
            <iso:assert test="not(./@id = $eventDefinitionRefs)">EventDefinitions defined in a throw event are only valid within this element</iso:assert>
        </iso:rule>
        <iso:rule context="bpmn:endEvent/bpmn:cancelEventDefinition">
            <iso:assert test="not(./@id = $eventDefinitionRefs)">EventDefinitions defined in a throw event are only valid within this element</iso:assert>
        </iso:rule>
        <iso:rule context="bpmn:endEvent/bpmn:compensationEventDefinition">
            <iso:assert test="not(./@id = $eventDefinitionRefs)">EventDefinitions defined in a throw event are only valid within this element</iso:assert>
        </iso:rule>
        <iso:rule context="bpmn:endEvent/bpmn:signalEventDefinition">
            <iso:assert test="not(./@id = $eventDefinitionRefs)">EventDefinitions defined in a throw event are only valid within this element</iso:assert>
        </iso:rule>
        <iso:rule context="bpmn:endEvent/bpmn:terminateEventDefinition">
            <iso:assert test="not(./@id = $eventDefinitionRefs)">EventDefinitions defined in a throw event are only valid within this element</iso:assert>
        </iso:rule>
        <iso:rule context="bpmn:intermediateThrowEvent/bpmn:messageEventDefinition">
            <iso:assert test="not(./@id = $eventDefinitionRefs)">EventDefinitions defined in a throw event are only valid within this element</iso:assert>
        </iso:rule>
        <iso:rule context="bpmn:intermediateThrowEvent/bpmn:escalationEventDefinition">
            <iso:assert test="not(./@id = $eventDefinitionRefs)">EventDefinitions defined in a throw event are only valid within this element</iso:assert>
        </iso:rule>
        <iso:rule context="bpmn:intermediateThrowEvent/bpmn:linkEventDefinition">
            <iso:assert test="not(./@id = $eventDefinitionRefs)">EventDefinitions defined in a throw event are only valid within this element</iso:assert>
        </iso:rule>
        <iso:rule context="bpmn:intermediateThrowEvent/bpmn:compensationEventDefinition">
            <iso:assert test="not(./@id = $eventDefinitionRefs)">EventDefinitions defined in a throw event are only valid within this element</iso:assert>
        </iso:rule>
        <iso:rule context="bpmn:intermediateThrowEvent/bpmn:signalEventDefinition">
            <iso:assert test="not(./@id = $eventDefinitionRefs)">EventDefinitions defined in a throw event are only valid within this element</iso:assert>
        </iso:rule>
    </iso:pattern>
    
    <iso:pattern name="EXT.096">
        <iso:rule context="bpmn:startEvent">
            <iso:assert test="not(bpmn:incoming)">A Start Event must not have an incoming sequence flow</iso:assert>
        </iso:rule>
    </iso:pattern>
    
    <iso:pattern name="EXT.097">
        <iso:rule context="bpmn:endEvent">
            <iso:assert test="parent::*/bpmn:startEvent">A Start event must be present when an End event is used in the same process level</iso:assert>
        </iso:rule>
    </iso:pattern>
    
    <iso:pattern name="EXT.098">
        <iso:rule context="bpmn:startEvent[parent::bpmn:process]">
            <iso:assert test="not(./bpmn:linkEventDefinition or ./bpmn:eventDefinitionRef = $linkEventDefinitions/@id)">Only messageEventDefininitions, timerEventDefinitions, conditionalEventDefinitions and signalEventDefinitions are allowed for top-level process start events</iso:assert>
            <iso:assert test="not(./bpmn:escalationEventDefinition or ./bpmn:eventDefinitionRef = $escalationEventDefinitions/@id)">Only messageEventDefininitions, timerEventDefinitions, conditionalEventDefinitions and signalEventDefinitions are allowed for top-level process start events</iso:assert>
            <iso:assert test="not(./bpmn:errorEventDefinition or ./bpmn:eventDefinitionRef = $errorEventDefinitions/@id)">Only messageEventDefininitions, timerEventDefinitions, conditionalEventDefinitions and signalEventDefinitions are allowed for top-level process start events</iso:assert>
            <iso:assert test="not(./bpmn:cancelEventDefinition or ./bpmn:eventDefinitionRef = $cancelEventDefinitions/@id)">Only messageEventDefininitions, timerEventDefinitions, conditionalEventDefinitions and signalEventDefinitions are allowed for top-level process start events</iso:assert>
            <iso:assert test="not(./bpmn:compensateEventDefinition or ./bpmn:eventDefinitionRef = $compensateEventDefinitions/@id)">Only messageEventDefininitions, timerEventDefinitions, conditionalEventDefinitions and signalEventDefinitions are allowed for top-level process start events</iso:assert>
            <iso:assert test="not(./bpmn:terminateEventDefinition or ./bpmn:eventDefinitionRef = $terminateEventDefinitions/@id)">Only messageEventDefininitions, timerEventDefinitions, conditionalEventDefinitions and signalEventDefinitions are allowed for top-level process start events</iso:assert>
        </iso:rule>
    </iso:pattern>
    
    <iso:pattern name="EXT.099">
        <iso:rule context="bpmn:process[./@id = string($callActivities/@calledElement)]">
            <iso:assert test="not(count(./bpmn:startEvent) = (count(./bpmn:startEvent/bpmn:eventDefinitionRef/..) + count(./bpmn:startEvent/bpmn:messageEventDefinition/..) + count(./bpmn:startEvent/bpmn:timerEventDefinition/..) + count(./bpmn:startEvent/bpmn:escalationEventDefinition/..) + count(./bpmn:startEvent/bpmn:conditionalEventDefinition/..) + count(./bpmn:startEvent/bpmn:linkEventDefinition/..) + count(./bpmn:startEvent/bpmn:errorEventDefinition/..) + count(./bpmn:startEvent/bpmn:cancelEventDefinition/..) + count(./bpmn:startEvent/bpmn:compensationEventDefinition/..) + count(./bpmn:startEvent/bpmn:signalEventDefinition/..) + count(./bpmn:startEvent/bpmn:terminateEventDefinition/..)))">Referenced process must have at least one None Start Event</iso:assert>
        </iso:rule>
    </iso:pattern>
    
    <iso:pattern name="EXT.100">
        <iso:rule context="bpmn:subProcess[@triggeredByEvent = 'false']/bpmn:startEvent">
            <iso:assert test="not(./$eventDefinitions)">No EventDefinition is allowed for Start Events in Sub-Process definitions</iso:assert>
        </iso:rule>
        <iso:rule context="bpmn:transaction/bpmn:startEvent">
            <iso:assert test="not(./$eventDefinitions)">No EventDefinition is allowed for Start Events in Sub-Process definitions</iso:assert>
        </iso:rule>
        <iso:rule context="bpmn:adHocSubProcess/bpmn:startEvent">
            <iso:assert test="not(./$eventDefinitions)">No EventDefinition is allowed for Start Events in Sub-Process definitions</iso:assert>
        </iso:rule>
    </iso:pattern>
        
    <iso:pattern name="EXT.101">
        <iso:rule context="bpmn:startEvent">
            <iso:assert test="bpmn:outgoing">A startEvent must have a outgoing subelement</iso:assert>
        </iso:rule>
    </iso:pattern>
    
    <iso:pattern name="EXT.102">
        <iso:rule context="bpmn:messageFlow[@sourceRef]">
            <iso:assert test="not(string(./@sourceRef) = $startEvents/@id)">A Start Event MUST NOT be a source for a message flow</iso:assert>
        </iso:rule>
    </iso:pattern>
    
    <iso:pattern name="EXT.103">
        <iso:rule context="bpmn:startEvent[@id = string($messageFlows/@targetRef)]">
            <iso:assert test="./bpmn:messageEventDefinition or ./bpmn:eventDefinitionRef = $messageEventDefinitions/@id">If a Start Event is target of a MessageFlow definition, at least one messageEventDefinition must be present</iso:assert>
        </iso:rule>
    </iso:pattern>
       
    <iso:pattern name="EXT.104">
        <iso:rule context="bpmn:endEvent">
            <iso:assert test="not(bpmn:outgoing)">An End Event must not have an outgoing sequence flow</iso:assert>
        </iso:rule>
    </iso:pattern>
    
    <iso:pattern name="EXT.105">
        <iso:rule context="bpmn:startEvent">
            <iso:assert test="parent::*/bpmn:endEvent">An end event must be present when a start event is used in the same process level</iso:assert>
        </iso:rule>
    </iso:pattern>
    
    <iso:pattern name="EXT.106">
        <iso:rule context="bpmn:cancelEventDefinition">
            <iso:assert test="ancestor::bpmn:transaction">A cancel EndEvent is only allowed in a transaction sub-process</iso:assert>
        </iso:rule>
    </iso:pattern>
    
    <iso:pattern name="EXT.107">
        <iso:rule context="bpmn:endEvent">
            <iso:assert test="bpmn:incoming">An End Event MUST have at least one incoming Sequence Flow</iso:assert>
        </iso:rule>
    </iso:pattern>
    
    <iso:pattern name="EXT.108">
        <iso:rule context="bpmn:messageFlow[@targetRef]">
            <iso:assert test="not(string(./@targetRef) = $endEvents/@id)">An End Event MUST NOT be a target for a message flow</iso:assert>
        </iso:rule>
    </iso:pattern>
    
    <iso:pattern name="EXT.109">
        <iso:rule context="bpmn:endEvent[@id = string($messageFlows/@sourceRef)]">
            <iso:assert test="./bpmn:messageEventDefinition or ./bpmn:eventDefinitionRef = $messageEventDefinitions/@id">If an end event is source of a MessageFlow definition, at least one messageEventDefinition must be present</iso:assert>
        </iso:rule>
    </iso:pattern>
    
    <iso:pattern name="EXT.135">
        <iso:rule context="bpmn:parallelGateway">
            <iso:assert test="count(bpmn:incoming) > 1 or count(bpmn:outgoing) > 1">A Gateway MUST have either multiple incoming Sequence Flows or multiple outgoing Sequence Flows</iso:assert>
        </iso:rule>
        <iso:rule context="bpmn:exclusiveGateway">
            <iso:assert test="count(bpmn:incoming) > 1 or count(bpmn:outgoing) > 1">A Gateway MUST have either multiple incoming Sequence Flows or multiple outgoing Sequence Flows</iso:assert>
        </iso:rule>
        <iso:rule context="bpmn:inclusiveGateway">
            <iso:assert test="count(bpmn:incoming) > 1 or count(bpmn:outgoing) > 1">A Gateway MUST have either multiple incoming Sequence Flows or multiple outgoing Sequence Flows</iso:assert>
        </iso:rule>
        <iso:rule context="bpmn:complexGateway">
            <iso:assert test="count(bpmn:incoming) > 1 or count(bpmn:outgoing) > 1">A Gateway MUST have either multiple incoming Sequence Flows or multiple outgoing Sequence Flows</iso:assert>
        </iso:rule>
        <iso:rule context="bpmn:eventBasedGateway">
            <iso:assert test="count(bpmn:incoming) > 1 or count(bpmn:outgoing) > 1">A Gateway MUST have either multiple incoming Sequence Flows or multiple outgoing Sequence Flows</iso:assert>
        </iso:rule>
        
    </iso:pattern>
    
    <iso:pattern name="EXT.146">
        <iso:rule context="bpmn:endEvent">
            <iso:assert test="not(./bpmn:linkEventDefinition or ./bpmn:eventDefinitionRef = $linkEventDefinitions/@id)">Only messageEventDefininitions, escalationEventDefinitions, errorEventDefinitions, cancelEventDefinitions, compensationEventDefinitions, signalEventDefinitions and terminateEventDefinitions are allowed for end events</iso:assert>
            <iso:assert test="not(./bpmn:conditionalEventDefinition or ./bpmn:eventDefinitionRef = $conditionalEventDefinitions/@id)">Only messageEventDefininitions, escalationEventDefinitions, errorEventDefinitions, cancelEventDefinitions, compensationEventDefinitions, signalEventDefinitions and terminateEventDefinitions are allowed for end events</iso:assert>
            <iso:assert test="not(./bpmn:timerEventDefinition or ./bpmn:eventDefinitionRef = $timerEventDefinitions/@id)">Only messageEventDefininitions, escalationEventDefinitions, errorEventDefinitions, cancelEventDefinitions, compensationEventDefinitions, signalEventDefinitions and terminateEventDefinitions are allowed for end events</iso:assert>
        </iso:rule>
    </iso:pattern>
    
    <iso:pattern name="EXT.150">
        <iso:rule context="bpmn:task[@isForCompensation = 'false'] [parent::*/bpmn:startEvent]">
            <iso:assert test="bpmn:incoming">If a start event is used to initiate a process, all flow nodes must have an incoming sequence flow</iso:assert>
        </iso:rule>
        <iso:rule context="bpmn:sendTask[@isForCompensation = 'false'] [parent::*/bpmn:startEvent]">
            <iso:assert test="bpmn:incoming">If a start event is used to initiate a process, all flow nodes must have an incoming sequence flow</iso:assert>
        </iso:rule>
        <iso:rule context="bpmn:receiveTask[@isForCompensation = 'false'] [parent::*/bpmn:startEvent]">
            <iso:assert test="bpmn:incoming">If a start event is used to initiate a process, all flow nodes must have an incoming sequence flow</iso:assert>
        </iso:rule>
        <iso:rule context="bpmn:serviceTask[@isForCompensation = 'false'] [parent::*/bpmn:startEvent]">
            <iso:assert test="bpmn:incoming">If a start event is used to initiate a process, all flow nodes must have an incoming sequence flow</iso:assert>
        </iso:rule>
        <iso:rule context="bpmn:userTask[@isForCompensation = 'false'] [parent::*/bpmn:startEvent]">
            <iso:assert test="bpmn:incoming">If a start event is used to initiate a process, all flow nodes must have an incoming sequence flow</iso:assert>
        </iso:rule>
        <iso:rule context="bpmn:manualTask[@isForCompensation = 'false'] [parent::*/bpmn:startEvent]">
            <iso:assert test="bpmn:incoming">If a start event is used to initiate a process, all flow nodes must have an incoming sequence flow</iso:assert>
        </iso:rule>
        <iso:rule context="bpmn:scriptTask[@isForCompensation = 'false'] [parent::*/bpmn:startEvent]">
            <iso:assert test="bpmn:incoming">If a start event is used to initiate a process, all flow nodes must have an incoming sequence flow</iso:assert>
        </iso:rule>
        <iso:rule context="bpmn:businessRuleTask[@isForCompensation = 'false'] [parent::*/bpmn:startEvent]">
            <iso:assert test="bpmn:incoming">If a start event is used to initiate a process, all flow nodes must have an incoming sequence flow</iso:assert>
        </iso:rule>
        <iso:rule context="bpmn:subProcess[@isForCompensation = 'false' and @triggeredByEvent = 'false'] [parent::*/bpmn:startEvent]">
            <iso:assert test="bpmn:incoming">If a start event is used to initiate a process, all flow nodes must have an incoming sequence flow</iso:assert>
        </iso:rule>
        <iso:rule context="bpmn:transaction[@isForCompensation = 'false'] [parent::*/bpmn:startEvent]">
            <iso:assert test="bpmn:incoming">If a start event is used to initiate a process, all flow nodes must have an incoming sequence flow</iso:assert>
        </iso:rule>
        <iso:rule context="bpmn:adHocSubProcess[@isForCompensation = 'false'] [parent::*/bpmn:startEvent]">
            <iso:assert test="bpmn:incoming">If a start event is used to initiate a process, all flow nodes must have an incoming sequence flow</iso:assert>
        </iso:rule>
        <iso:rule context="bpmn:callActivity[@isForCompensation = 'false'] [parent::*/bpmn:startEvent]">
            <iso:assert test="bpmn:incoming">If a start event is used to initiate a process, all flow nodes must have an incoming sequence flow</iso:assert>
        </iso:rule>
        <iso:rule context="bpmn:exclusiveGateway[parent::*/bpmn:startEvent]">
            <iso:assert test="bpmn:incoming">If a start event is used to initiate a process, all flow nodes must have an incoming sequence flow</iso:assert>
        </iso:rule>
        <iso:rule context="bpmn:parallelGateway[parent::*/bpmn:startEvent]">
            <iso:assert test="bpmn:incoming">If a start event is used to initiate a process, all flow nodes must have an incoming sequence flow</iso:assert>
        </iso:rule>
        <iso:rule context="bpmn:inclusiveGateway[parent::*/bpmn:startEvent]">
            <iso:assert test="bpmn:incoming">If a start event is used to initiate a process, all flow nodes must have an incoming sequence flow</iso:assert>
        </iso:rule>
        <iso:rule context="bpmn:complexGateway[parent::*/bpmn:startEvent]">
            <iso:assert test="bpmn:incoming">If a start event is used to initiate a process, all flow nodes must have an incoming sequence flow</iso:assert>
        </iso:rule>
        <iso:rule context="bpmn:eventBasedGatewayGateway[parent::*/bpmn:startEvent]">
            <iso:assert test="bpmn:incoming">If a start event is used to initiate a process, all flow nodes must have an incoming sequence flow</iso:assert>
        </iso:rule>
        <iso:rule context="bpmn:intermediateThrowEvent[parent::*/bpmn:startEvent]">
            <iso:assert test="bpmn:incoming">If a start event is used to initiate a process, all flow nodes must have an incoming sequence flow</iso:assert>
        </iso:rule>
        <iso:rule context="bpmn:intermediateCatchEvent[parent::*/bpmn:startEvent] [not(/bpmn:linkEventDefinition or /bpmn:eventDefinitionRef = $linkEventDefinitions/@id)]">
            <iso:assert test="bpmn:incoming">If a start event is used to initiate a process, all flow nodes must have an incoming sequence flow</iso:assert>
        </iso:rule>
        <iso:rule context="bpmn:boundaryEvent">
            <iso:assert test="not(bpmn:incoming)">If a start event is used to initiate a process, all flow nodes must have an incoming sequence flow</iso:assert>
        </iso:rule>
    </iso:pattern>
    
        <iso:pattern name="EXT.151">
        <iso:rule context="bpmn:task[@isForCompensation = 'false'] [parent::*/bpmn:endEvent]">
            <iso:assert test="bpmn:outgoing">If end events are used, all flow nodes must have an outgoing sequence flow</iso:assert>
        </iso:rule>
        <iso:rule context="bpmn:sendTask[@isForCompensation = 'false'] [parent::*/bpmn:endEvent]">
            <iso:assert test="bpmn:outgoing">If end events are used, all flow nodes must have an outgoing sequence flow</iso:assert>
        </iso:rule>
        <iso:rule context="bpmn:receiveTask[@isForCompensation = 'false'] [parent::*/bpmn:endEvent]">
            <iso:assert test="bpmn:outgoing">If end events are used, all flow nodes must have an outgoing sequence flow</iso:assert>
        </iso:rule>
        <iso:rule context="bpmn:serviceTask[@isForCompensation = 'false'] [parent::*/bpmn:endEvent]">
            <iso:assert test="bpmn:outgoing">If end events are used, all flow nodes must have an outgoing sequence flow</iso:assert>
        </iso:rule>
        <iso:rule context="bpmn:userTask[@isForCompensation = 'false'] [parent::*/bpmn:endEvent]">
            <iso:assert test="bpmn:outgoing">If end events are used, all flow nodes must have an outgoing sequence flow</iso:assert>
        </iso:rule>
        <iso:rule context="bpmn:manualTask[@isForCompensation = 'false'] [parent::*/bpmn:endEvent]">
            <iso:assert test="bpmn:outgoing">If end events are used, all flow nodes must have an outgoing sequence flow</iso:assert>
        </iso:rule>
        <iso:rule context="bpmn:scriptTask[@isForCompensation = 'false'] [parent::*/bpmn:endEvent]">
            <iso:assert test="bpmn:outgoing">If end events are used, all flow nodes must have an outgoing sequence flow</iso:assert>
        </iso:rule>
        <iso:rule context="bpmn:businessRuleTask[@isForCompensation = 'false'] [parent::*/bpmn:endEvent]">
            <iso:assert test="bpmn:outgoing">If end events are used, all flow nodes must have an outgoing sequence flow</iso:assert>
        </iso:rule>
        <iso:rule context="bpmn:subProcess[@isForCompensation = 'false' and @triggeredByEvent = 'false'] [parent::*/bpmn:endEvent]">
            <iso:assert test="bpmn:outgoing">If end events are used, all flow nodes must have an outgoing sequence flow</iso:assert>
        </iso:rule>
        <iso:rule context="bpmn:transaction[@isForCompensation = 'false'] [parent::*/bpmn:endEvent]">
            <iso:assert test="bpmn:outgoing">If end events are used, all flow nodes must have an outgoing sequence flow</iso:assert>
        </iso:rule>
        <iso:rule context="bpmn:adHocSubProcess[@isForCompensation = 'false'] [parent::*/bpmn:endEvent]">
            <iso:assert test="bpmn:outgoing">If end events are used, all flow nodes must have an outgoing sequence flow</iso:assert>
        </iso:rule>
        <iso:rule context="bpmn:callActivity[@isForCompensation = 'false'] [parent::*/bpmn:endEvent]">
            <iso:assert test="bpmn:outgoing">If end events are used, all flow nodes must have an outgoing sequence flow</iso:assert>
        </iso:rule>
        <iso:rule context="bpmn:intermediateCatchEvent[/bpmn:linkEventDefinition or /bpmn:eventDefinitionRef = $linkEventDefinitions/@id] [parent::*/bpmn:endEvent]">
            <iso:assert test="bpmn:outgoing">If end events are used, all flow nodes must have an outgoing sequence flow</iso:assert>
        </iso:rule>
        <iso:rule context="bpmn:exclusiveGateway[parent::*/bpmn:endEvent]">
            <iso:assert test="bpmn:outgoing">If end events are used, all flow nodes must have an outgoing sequence flow</iso:assert>
        </iso:rule>
        <iso:rule context="bpmn:parallelGateway[parent::*/bpmn:endEvent]">
            <iso:assert test="bpmn:outgoing">If end events are used, all flow nodes must have an outgoing sequence flow</iso:assert>
        </iso:rule>
        <iso:rule context="bpmn:inclusiveGateway[parent::*/bpmn:endEvent]">
            <iso:assert test="bpmn:outgoing">If end events are used, all flow nodes must have an outgoing sequence flow</iso:assert>
        </iso:rule>
        <iso:rule context="bpmn:complexGateway[parent::*/bpmn:endEvent]">
            <iso:assert test="bpmn:outgoing">If end events are used, all flow nodes must have an outgoing sequence flow</iso:assert>
        </iso:rule>
        <iso:rule context="bpmn:eventBasedGatewayGateway[parent::*/bpmn:endEvent]">
            <iso:assert test="bpmn:outgoing">If end events are used, all flow nodes must have an outgoing sequence flow</iso:assert>
        </iso:rule>
        <iso:rule context="bpmn:intermediateCatchEvent[parent::*/bpmn:endEvent]">
            <iso:assert test="bpmn:outgoing">If end events are used, all flow nodes must have an outgoing sequence flow</iso:assert>
        </iso:rule>
        <iso:rule context="bpmn:intermediateThrowEvent[parent::*/bpmn:endEvent] [not(/bpmn:linkEventDefinition or /bpmn:eventDefinitionRef = $linkEventDefinitions/@id)]">
            <iso:assert test="bpmn:outgoing">If end events are used, all flow nodes must have an outgoing sequence flow</iso:assert>
        </iso:rule>
    </iso:pattern>
    
</iso:schema> 
